/Mapita/WebApplication1/nbproject/private/
/Mapita/WebApplication1/build/
/Mapita/WebApplication1/dist/
/Mapita/Mapita/nbproject/private/
/Mapita/Mapita/dist/
/Mapita/Mapita/build/
/Mapita/nbproject/private/
/Mapita/build/
/Mapita/dist/
/Mapita/target/